* {
    margin: 0;
    padding: 0;
}
body, html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #272727;
    background: hsl(185, 41%, 84%);
}
header {
    display: flex;
    justify-content: center;
    padding: 20px;
}
article {
    width: 100%;
    background: #fff;
    border-radius: 20px 20px 0 0;
    padding: 40px;
}
@media (min-width:992px) {

}
